In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.DataFrame(np.random.randn(5,4), ['A','B','C','D','E'],['W','X','Y','Z'])

In [3]:
df

          W         X         Y         Z
A -0.167057  2.542233  0.247327 -0.248252
B  0.660982 -1.177043 -0.489719  1.642198
C  1.342954  1.128398  1.176741  1.536998
D  0.180341 -0.935447 -1.438098  2.301590
E -0.147365  0.723613 -1.540245  1.485158

In [4]:
df['W']

A   -0.167057
B    0.660982
C    1.342954
D    0.180341
E   -0.147365
Name: W, dtype: float64

In [5]:
df.W

A   -0.167057
B    0.660982
C    1.342954
D    0.180341
E   -0.147365
Name: W, dtype: float64

In [7]:
df[['W', 'Z']]

          W         Z
A -0.167057 -0.248252
B  0.660982  1.642198
C  1.342954  1.536998
D  0.180341  2.301590
E -0.147365  1.485158

In [8]:
df['new']=df['W']+df['Y']

In [9]:
df

          W         X         Y         Z       new
A -0.167057  2.542233  0.247327 -0.248252  0.080270
B  0.660982 -1.177043 -0.489719  1.642198  0.171263
C  1.342954  1.128398  1.176741  1.536998  2.519695
D  0.180341 -0.935447 -1.438098  2.301590 -1.257757
E -0.147365  0.723613 -1.540245  1.485158 -1.687610

In [11]:
# df.drop('new')
#Throws ValueError
df.drop('new', axis=1)

          W         X         Y         Z
A -0.167057  2.542233  0.247327 -0.248252
B  0.660982 -1.177043 -0.489719  1.642198
C  1.342954  1.128398  1.176741  1.536998
D  0.180341 -0.935447 -1.438098  2.301590
E -0.147365  0.723613 -1.540245  1.485158

In [12]:
df

          W         X         Y         Z       new
A -0.167057  2.542233  0.247327 -0.248252  0.080270
B  0.660982 -1.177043 -0.489719  1.642198  0.171263
C  1.342954  1.128398  1.176741  1.536998  2.519695
D  0.180341 -0.935447 -1.438098  2.301590 -1.257757
E -0.147365  0.723613 -1.540245  1.485158 -1.687610

In [13]:
df.drop('new', axis=1, inplace=True)

In [14]:
df

          W         X         Y         Z
A -0.167057  2.542233  0.247327 -0.248252
B  0.660982 -1.177043 -0.489719  1.642198
C  1.342954  1.128398  1.176741  1.536998
D  0.180341 -0.935447 -1.438098  2.301590
E -0.147365  0.723613 -1.540245  1.485158

In [15]:
df.drop('E', axis=0)

          W         X         Y         Z
A -0.167057  2.542233  0.247327 -0.248252
B  0.660982 -1.177043 -0.489719  1.642198
C  1.342954  1.128398  1.176741  1.536998
D  0.180341 -0.935447 -1.438098  2.301590

In [16]:
df

          W         X         Y         Z
A -0.167057  2.542233  0.247327 -0.248252
B  0.660982 -1.177043 -0.489719  1.642198
C  1.342954  1.128398  1.176741  1.536998
D  0.180341 -0.935447 -1.438098  2.301590
E -0.147365  0.723613 -1.540245  1.485158

In [17]:
df.shape

(5, 4)

In [18]:
df.loc['A']

W   -0.167057
X    2.542233
Y    0.247327
Z   -0.248252
Name: A, dtype: float64

In [19]:
#This means both columsn and rows are series

In [24]:
df.iloc[0]

W   -0.167057
X    2.542233
Y    0.247327
Z   -0.248252
Name: A, dtype: float64

In [21]:
df.loc['B', 'Y']

-0.48971895380268476

In [23]:
df.loc[['A','B'], ['W','Y']]

          W         Y
A -0.167057  0.247327
B  0.660982 -0.489719