In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.DataFrame(np.random.randn(5,4), ['A','B','C','D','E'], ['W','X','Y','Z'])

In [5]:
df

          W         X         Y         Z
A  0.512162 -0.585361 -0.522407  1.396997
B  0.622071  1.749404  0.443115  0.690100
C  0.950219  0.724088  0.096544  1.329914
D -0.589345 -0.464069  1.571649 -0.203950
E  1.276191 -0.706528 -0.473801  1.076073

In [6]:
booldf=df > 0

In [7]:
booldf

       W      X      Y      Z
A   True  False  False   True
B   True   True   True   True
C   True   True   True   True
D  False  False   True  False
E   True  False  False   True

In [8]:
df[booldf]

          W         X         Y         Z
A  0.512162       NaN       NaN  1.396997
B  0.622071  1.749404  0.443115  0.690100
C  0.950219  0.724088  0.096544  1.329914
D       NaN       NaN  1.571649       NaN
E  1.276191       NaN       NaN  1.076073

In [9]:
df['W']>0

A     True
B     True
C     True
D    False
E     True
Name: W, dtype: bool

In [10]:
df[df['W']>0]

          W         X         Y         Z
A  0.512162 -0.585361 -0.522407  1.396997
B  0.622071  1.749404  0.443115  0.690100
C  0.950219  0.724088  0.096544  1.329914
E  1.276191 -0.706528 -0.473801  1.076073

In [11]:
df[df['Z']<0]

          W         X         Y        Z
D -0.589345 -0.464069  1.571649 -0.20395

In [12]:
res=df[df['W']>0]

In [13]:
res

          W         X         Y         Z
A  0.512162 -0.585361 -0.522407  1.396997
B  0.622071  1.749404  0.443115  0.690100
C  0.950219  0.724088  0.096544  1.329914
E  1.276191 -0.706528 -0.473801  1.076073

In [15]:
res['W']

A    0.512162
B    0.622071
C    0.950219
E    1.276191
Name: W, dtype: float64

In [16]:
df[df['W']>0]['X']

A   -0.585361
B    1.749404
C    0.724088
E   -0.706528
Name: X, dtype: float64

In [18]:
df[df['W']>0][['Y', 'X']]

          Y         X
A -0.522407 -0.585361
B  0.443115  1.749404
C  0.096544  0.724088
E -0.473801 -0.706528

In [19]:
df[df['W']>0]

          W         X         Y         Z
A  0.512162 -0.585361 -0.522407  1.396997
B  0.622071  1.749404  0.443115  0.690100
C  0.950219  0.724088  0.096544  1.329914
E  1.276191 -0.706528 -0.473801  1.076073

In [20]:
#df[(df['W']>0) and (df['Y']>1)]   #Ambiguous, 'and' does not work for series

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [23]:
df[(df['W']>0) & (df['Y']>0)]

          W         X         Y         Z
B  0.622071  1.749404  0.443115  0.690100
C  0.950219  0.724088  0.096544  1.329914

In [25]:
df[(df['W']>0) | (df['Y']>1)]

          W         X         Y         Z
A  0.512162 -0.585361 -0.522407  1.396997
B  0.622071  1.749404  0.443115  0.690100
C  0.950219  0.724088  0.096544  1.329914
D -0.589345 -0.464069  1.571649 -0.203950
E  1.276191 -0.706528 -0.473801  1.076073

In [26]:
df.reset_index()

  index         W         X         Y         Z
0     A  0.512162 -0.585361 -0.522407  1.396997
1     B  0.622071  1.749404  0.443115  0.690100
2     C  0.950219  0.724088  0.096544  1.329914
3     D -0.589345 -0.464069  1.571649 -0.203950
4     E  1.276191 -0.706528 -0.473801  1.076073

In [31]:
newind='BA ND PU AP KA'.split()

In [32]:
newind

['BA', 'ND', 'PU', 'AP', 'KA']

In [33]:
df['States']=newind

In [34]:
df

          W         X         Y         Z States
A  0.512162 -0.585361 -0.522407  1.396997     BA
B  0.622071  1.749404  0.443115  0.690100     ND
C  0.950219  0.724088  0.096544  1.329914     PU
D -0.589345 -0.464069  1.571649 -0.203950     AP
E  1.276191 -0.706528 -0.473801  1.076073     KA

In [35]:
df.set_index('States')

               W         X         Y         Z
States
BA      0.512162 -0.585361 -0.522407  1.396997
ND      0.622071  1.749404  0.443115  0.690100
PU      0.950219  0.724088  0.096544  1.329914
AP     -0.589345 -0.464069  1.571649 -0.203950
KA      1.276191 -0.706528 -0.473801  1.076073

In [36]:
df

          W         X         Y         Z States
A  0.512162 -0.585361 -0.522407  1.396997     BA
B  0.622071  1.749404  0.443115  0.690100     ND
C  0.950219  0.724088  0.096544  1.329914     PU
D -0.589345 -0.464069  1.571649 -0.203950     AP
E  1.276191 -0.706528 -0.473801  1.076073     KA

In [38]:
outside=['G1', 'G1', 'G1', 'G2', 'G2', 'G2' ]
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside, inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [39]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [40]:
df = pd.DataFrame(np.random.randn(6,2), hier_index, ['A', 'B'])

In [41]:
df

             A         B
G1 1  2.249259  0.891480
   2  2.215513  1.302995
   3 -0.557194  0.424681
G2 1 -0.289373  0.356993
   2  0.740741  0.157470
   3  0.641546  0.080157

In [42]:
df.loc['G1']

          A         B
1  2.249259  0.891480
2  2.215513  1.302995
3 -0.557194  0.424681

In [43]:
df.loc['G1'].loc[2]

A    2.215513
B    1.302995
Name: 2, dtype: float64

In [44]:
df.loc['G1'].loc[2]['B']

1.30299512657555

In [46]:
df.loc['G1'].loc[2]['B']

1.30299512657555

In [50]:
df.index.names=['Groups', 'Num']

In [51]:
df

                   A         B
Groups Num
G1     1    2.249259  0.891480
       2    2.215513  1.302995
       3   -0.557194  0.424681
G2     1   -0.289373  0.356993
       2    0.740741  0.157470
       3    0.641546  0.080157

In [53]:
df.xs('G1')

            A         B
Num
1    2.249259  0.891480
2    2.215513  1.302995
3   -0.557194  0.424681

In [58]:
df.xs(1, level='Num')

               A         B
Groups
G1      2.249259  0.891480
G2     -0.289373  0.356993